#poem {
    background-color: antiquewhite;
    padding: 0.5em;
    text-align: center;
    width: fit-content;
    margin: auto;
    line-height: 1.5em;
}

input[type="button"] {
    margin: 0.5em;
    padding: 0.5em 1em;
}

.d-none {
    display: none;
}

/* .red-background {
    background-color: red !important;
}

.blue-color {
    color: blue;
} */